* {
  font-family: 'Noto Sans JP', sans-serif;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.landing-bg-image {
  background: url(./images/landing_bg.png) no-repeat center center fixed;
  width: 100vw;
  height: 100vh;
}

.landing_links {
  position: absolute;
  display: inline-block;
  width: 100%;
  top: 2%;
  text-align: center;
}

.landing_link {
  display: inline-block;
  padding: 20px;
}

/* NAV BAR  */

.main-h1 {
  padding: 25px 0;
}

.main-header {
  position: fixed;
  top: 0;
  width: 100%;
  background: whitesmoke;
  padding: 8px 16px;
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 74px);
  vertical-align: middle;
}

.main-nav__logo {
  color: red;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
}

.main-nav__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav__item {
  display: inline-block;
  margin: 0px 8px;
}

.main-nav__item--link {
  color: #5DBCD2;
  text-decoration: none;
  padding: 3px 2px;
  font-weight: bold;
}

.main-nav__item--link:hover {
  color: red;
  background:white;
  padding: 8px 2px;
  border-radius: 8px;
}